<%- include header.ejs %>



<div class="large-6 large-centered columns">
            <h2 class="grayOut">Character list for:</h2>
        <h2 class="grayOut"><%= gamerTag %></h2>
        <br>

<form action="/viewCharacter" method="POST">

<!--CHARACTER ONE-->
    <div>
        <input type="radio" id="imageIcon1" class="blah" name="character" value="0" />
        <label for="imageIcon1">
            <div class="imageBorder">
                <img class="backgroundPath1" src="http://www.bungie.net<%= characterOne['emblemPath'] %>" width="61px">
                <img class="backgroundPath2" src="http://www.bungie.net<%= characterOne['backgroundPath'] %>" width="300px">


                <span class="lvl"><b><%=characterOne['characterLevel']%></b> </span>

                <span class="gsc"><%=characterOne['characterBase']['grimoireScore']%>  </span>

                <span class="cls"><% if(characterOne['characterBase']['classHash'] == '3655393761'){ %>
                    Titan
                <% } else if(characterOne['characterBase']['classHash'] == '2271682572'){ %>  
                    Warlock
                <% } else { %>
                    Hunter
                <% } %> </span>


                <span class="rceGndr"><% if(characterOne['characterBase']['raceHash'] == '3887404748'){ %>
                    Human
                <% } else if(characterOne['characterBase']['raceHash'] == '898834093'){ %>  
                    Exo
                <% } else { %>
                    Awoken
                <% } %>
                
                
                <% if(characterOne['characterBase']['genderType'] == 0){ %>
                    Male
                <% } else { %>  
                    Female
                <% } %></span>
            </div>
        </label>
    </div>




        <!--CHARACTER TWO-->
        <div>
            <input type="radio" id="imageIcon2" class="blah" name="character" value="1" />
            <label for="imageIcon2">
                <div class="imageBorder">
                    <img class="backgroundPath1" src="http://www.bungie.net<%= characterTwo['emblemPath'] %>" width="61px">
                    <img class="backgroundPath2" src="http://www.bungie.net<%= characterTwo['backgroundPath'] %>" width="300px">


                    <span class="lvl"><b><%=characterTwo['characterLevel']%></b> </span>

                    <span class="gsc"><%=characterTwo['characterBase']['grimoireScore']%>  </span>

                    <span class="cls"><% if(characterTwo['characterBase']['classHash'] == '3655393761'){ %>
                    Titan
                <% } else if(characterTwo['characterBase']['classHash'] == '2271682572'){ %>  
                    Warlock
                <% } else { %>
                    Hunter
                <% } %> </span>


                    <span class="rceGndr"><% if(characterTwo['characterBase']['raceHash'] == '3887404748'){ %>
                    Human
                <% } else if(characterTwo['characterBase']['raceHash'] == '898834093'){ %>  
                    Exo
                <% } else { %>
                    Awoken
                <% } %>
                
                
                <% if(characterTwo['characterBase']['genderType'] == 0){ %>
                    Male
                <% } else { %>  
                    Female
                <% } %></span>
                </div>
            </label>
        </div>





        <!--CHARACTER THREE-->
        <div>
            <input type="radio" id="imageIcon3" class="blah" name="character" value="2" />
            <label for="imageIcon3">
                <div class="imageBorder">
                    <img class="backgroundPath1" src="http://www.bungie.net<%= characterThree['emblemPath'] %>" width="61px">
                    <img class="backgroundPath2" src="http://www.bungie.net<%= characterThree['backgroundPath'] %>" width="300px">


                    <span class="lvl"><b><%=characterThree['characterLevel']%></b> </span>

                    <span class="gsc"><%=characterThree['characterBase']['grimoireScore']%>  </span>

                    <span class="cls"><% if(characterThree['characterBase']['classHash'] == '3655393761'){ %>
                    Titan
                <% } else if(characterThree['characterBase']['classHash'] == '2271682572'){ %>  
                    Warlock
                <% } else { %>
                    Hunter
                <% } %> </span>


                    <span class="rceGndr"><% if(characterThree['characterBase']['raceHash'] == '3887404748'){ %>
                    Human
                <% } else if(characterThree['characterBase']['raceHash'] == '898834093'){ %>  
                    Exo
                <% } else { %>
                    Awoken
                <% } %>
                
                
                <% if(characterThree['characterBase']['genderType'] == 0){ %>
                    Male
                <% } else { %>  
                    Female
                <% } %></span>
                </div>
            </label>
        </div>
         <button class="button small radius" id="purple" type="submit">Submit</button>
        </div>

       

</form>

<div class="row">
    <div class="small-9 small-centered columns">
       <h2 class="grayOut">Enter Friends ID</h2>
        <form action="/processFriendApi" method="POST">

           <label>Enter Playstation Id  /  Gamertag</label>
            <input type="text" name="gamerTag">

           <label for="system">Choose Platform</label>
            <select name="system">
                <option value="2">PS4</option>
                <option value="1">XboxOne</option>
            </select>

            <button class="button small radius" id="purple" type="submit">Submit</button>

        </form>
    </div>
</div>