

<%- include header.ejs %>



<div class="container">
    <div class="row">
        <div class="large-6 large-centered columns">
                    <h2 class="violet">Character list for: <%= gamerTag %> </h2>
    
                <br>
                <br>

        <form action="/viewCharacter" method="POST">


            <!--Loop Thrw CHARACTERS-->
            <% for(var i=0;i < data['data']['characters'].length;i++){%>


            <!--CHARACTERS-->
           <div class="">
                <input type="radio" id="imageIcon<%=i%>" class="blah" name="character" value="<%=i%>" />
                <label for="imageIcon<%=i%>">
                    <div class="imageBorder characterBanner">
                        <img class="backgroundPath1" src="http://www.bungie.net<%= data['data']['characters'][i]['emblemPath'] %>" width="61px">
                        <img class="backgroundPath2" src="http://www.bungie.net<%= data['data']['characters'][i]['backgroundPath'] %>" width="300px">


                        <span class="lvl"><b><%=data['data']['characters'][i]['characterLevel']%></b> </span>

                        <span class="gsc"><%=data['data']['characters'][i]['characterBase']['grimoireScore']%>  </span>

                        <span class="cls"><% if(data['data']['characters'][i]['characterBase']['classHash'] == '3655393761'){ %>
                            Titan
                        <% } else if(data['data']['characters'][i]['characterBase']['classHash'] == '2271682572'){ %>  
                            Warlock
                        <% } else { %>
                            Hunter
                        <% } %> </span>


                        <span class="rceGndr"><% if(data['data']['characters'][i]['characterBase']['raceHash'] == '3887404748'){ %>
                            Human
                        <% } else if(data['data']['characters'][i]['characterBase']['raceHash'] == '898834093'){ %>  
                            Exo
                        <% } else { %>
                            Awoken
                        <% } %>
                        
                        
                        <% if(data['data']['characters'][i]['characterBase']['genderType'] == 0){ %>
                            Male
                        <% } else { %>  
                            Female
                        <% } %></span>
                    </div>
                </label>
            </div>

            <% }%><!-- End of for loop-->    

            <button class="button expand " type="submit">Submit</button>
        </form>

    </div>
</div> <!-- End of Row-->

</div> <!-- End of parllax -->



<%- include footer.ejs %>
