<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Destiny Character Explorer</title>

</head>
<body>

<script>
  var elNC = el.noConflict();
  // Conflicting lib works again and use elNC for this library onwards... 
</script> 

<%- include header.ejs %>

<div class="large-6 large-centered columns">
    <h2 class="grayOut">Character Stats:</h2>
    


       <form action="/back" method="Get">
        <input type=""  id="imageIcon1" class="blah" name="character" value="0" />
        <label class='moveDown' for="imageIcon1">
            <div class="imageBorder">
                <img class="backgroundPath1" src="http://www.bungie.net<%= character['emblemPath'] %>" width="61px">
                <img class="backgroundPath2" src="http://www.bungie.net<%= character['backgroundPath'] %>" width="300px">


                <span class="lvl"><b><%=character['characterLevel']%></b> </span>

                <span class="gsc"><%=character['characterBase']['grimoireScore']%>  </span>

                <span class="cls"><% if(character['classHash'] == '3655393761'){ %>
	                Titan
		        <% } else if(character['characterBase']['classHash'] == '2271682572'){ %>  
	                Warlock
		        <% } else { %>
	                Hunter
	            <% } %> </span>


                <span class="rceGndr"><% if(character['characterBase']['raceHash'] == '3887404748'){ %>
                    Human
                <% } else if(character['characterBase']['raceHash'] == '898834093'){ %>  
                    Exo
                <% } else { %>
                    Awoken
                <% } %>
                
                
                <% if(character['characterBase']['genderType'] == 0){ %>
	                Male
		        <% } else { %>  
	                Female
	            <% } %></span>
	            
            </div>
        </label>
        
        
        


    
    
    <p>Defense: <%= character['characterBase']['stats']['STAT_DEFENSE']['value'] %></p>
    <p>Intellect: <%= character['characterBase']['stats']['STAT_INTELLECT']['value'] %></p>
    <p>Discipline: <%= character['characterBase']['stats']['STAT_DISCIPLINE']['value'] %></p>
    <p>Strength: <%= character['characterBase']['stats']['STAT_STRENGTH']['value'] %></p>
    <p>Armor: <%= character['characterBase']['stats']['STAT_ARMOR']['value'] %></p>
    <p>Recovery: <%= character['characterBase']['stats']['STAT_RECOVERY']['value'] %></p>
    <p>Agility: <%= character['characterBase']['stats']['STAT_AGILITY']['value'] %></p>

  
              <button class="button small radius" id="purple" type="submit">Return</button>

  
   </form>
    
    

    
    
    
    
    
    
    
    
    
    
    </div>
    
    
    

    <footer style="position:fixed; bottom: 0px; height: 40px; line-height: 40px;" class="large-12 columns showme text-center site-footer">
        <div>|&nbsp;&nbsp; Created &nbsp;&nbsp; by &nbsp;&nbsp; J.O &nbsp;&nbsp; & &nbsp;&nbsp; A.R &nbsp;&nbsp; | </div>
    </footer>


    
    
	</body>
</html>

